body{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,.9)), url('https://www.nantech.az/img/sign.svg');
    background-size: 75%;
    background-position: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.card{
    width: 30%;
}
.logo{
    font-size: 25px;
}
.logo b{
    color: rgb(228, 67, 67);
}
.logo span{
    color: rgb(63, 135, 243);
}
.form{
    background-color: #fff;
    padding: 50px;
    box-shadow: -5px 5px 15px  gray;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}
.form input{
    padding: 5px;
    font-size: 10px;
}
.login-btn{
    width: 100%;
    background-color: rgb(228, 67, 67);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    margin: 0.5em 0;
}
.form input:focus{
    box-shadow: 0 0 5px rgb(228, 67, 67);
    border: 1px solid rgba(228, 67, 67, 0.544);
}
.pos-rel i{
    position: absolute;
    right: 5px;
    height: 100%;
    line-height: 38px;
    cursor: pointer;
}